<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="static-container privacy">
    <h2>Confidentialité et Sécurité des Informations Personnelles</h2>

    <p>Nous nous soucions de la confidentialité et de la sécurité de vos informations personnelles. Nous déploierons tous les efforts raisonnables pour les protéger (le terme « Données Personnelles » est défini ci-dessous). Toutefois, aucune méthode de transmission ou de stockage de données numériques n'est jamais complètement sécurisée, et nous ne pouvons donc pas garantir la sécurité de l'information transmise ou stockée sur le site <a href="http://www.france-universite-numerique-mooc.fr/" target="_blank">www.france-universite-numerique-mooc.fr</a>.</p>

    <p>Tels qu'utilisés dans la présente « Politique de confidentialité », « nous » et « notre » réfèrent à FUN.</p>

    <p>Notre politique de confidentialité s'applique uniquement aux informations collectées par le site web <a href="http://www.france-universite-numerique-mooc.fr/" target="_blank">www.france-universite-numerique-mooc.fr</a>, c’est à dire à tous les contenus et aux pages présentes dans le domaine www.france-universite-numerique-mooc.fr. Elle ne s'applique pas aux informations que nous pouvons recueillir de votre part par d'autres moyens, par exemple à celles que vous nous fournissez par téléphone, par fax ou par courrier conventionnel. En outre, veuillez noter que vos données personnelles sont protégées par les règles du droit français.</p>

    <p>En accédant ou en vous inscrivant sur ce site, vous consentez et acceptez le fait que les informations collectées vous concernant, puissent être utilisées et divulguées conformément à notre Politique de Confidentialité et nos Conditions Générales d'Utilisation. Comme la loi peut l'exiger ou le permettre, ces informations peuvent être transférées, traitées et stockées en France. Si vous n'acceptez pas ces termes, alors nous vous invitons à ne pas accéder, naviguer ou vous inscrire sur ce site. Si vous choisissez de ne pas nous fournir certaines informations nécessaires pour vous offrir nos services, vous ne pourrez pas ouvrir un compte utilisateur.</p>

    <p>Tel qu'utilisé dans la présente « Politique de Confidentialité », « Données Personnelles » désigne toute information vous concernant que vous nous fournissez lors de l'utilisation du site, par exemple lorsque vous créez un compte utilisateur ou concluez une transaction, ce qui peut inclure mais n'est pas limité à votre nom, vos coordonnées, sexe, date de naissance et profession.</p>
</section>
